xml/schema/types/paneleditor.xsd

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="../schema2xhtml.xsl" type="text/xsl"?>

<!-- $Id: paneleditor.xsd,v 1.1 2010-01-17 05:56:58 jacobsen Exp $ -->

<!-- This schema is part of JMRI. Copyright 2009.                           -->
<!--                                                                        -->
<!-- JMRI is free software; you can redistribute it and/or modify it under  -->
<!-- the terms of version 2 of the GNU General Public License as published  -->
<!-- by the Free Software Foundation. See the "COPYING" file for a copy     -->
<!-- of this license.                                                       -->
<!--                                                                        -->
<!-- JMRI is distributed in the hope that it will be useful, but WITHOUT    -->
<!-- ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or  -->
<!-- FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License  -->
<!-- for more details.                                                      -->


<!-- Need annotations                                                 -->
<!-- Attributes need to get types right esp. for enumerated           -->
<!-- Attributes need REQUIRED/IMPLIED   & defaults                    -->
<!-- need definitions for icon types; see also panel editor           -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:docbook="http://docbook.org/ns/docbook"
           xmlns:jmri="http://jmri.org/xml/schema/JMRIschema"
           xsi:schemaLocation="
                http://jmri.org/xml/schema/JMRIschema http://jmri.org/xml/schema/JMRIschema.xsd
                http://docbook.org/ns/docbook http://jmri.org/xml/schema/docbook/DocBook.xsd
            "
        >
    <xs:complexType name="PanelEditorType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a PanelEditor panel.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.display.configurexml.PanelEditorXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence minOccurs="0" maxOccurs="unbounded" >
        
        <xs:element name="positionablelabel"    minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="positionablepoint"    minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="sensoricon"           minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="signalheadicon"       minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="reportericon"         minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="layoutturnout"        minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="tracksegment"         minOccurs="0" maxOccurs="unbounded" />
            
      </xs:sequence>
      <xs:attribute name="class" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="x" type="xs:integer"/>
      <xs:attribute name="y" type="xs:integer"/>
      <xs:attribute name="height" type="xs:integer"/>
      <xs:attribute name="width" type="xs:integer"/>
      <xs:attribute name="windowheight" type="xs:integer"/>
      <xs:attribute name="windowwidth" type="xs:integer"/>
      <xs:attribute name="panelheight" type="xs:integer"/>
      <xs:attribute name="panelwidth" type="xs:integer"/>
      <xs:attribute name="sliders" type="yesNoType"/>
      <xs:attribute name="scrollable" type="xs:string"/> <!-- "none", others? -->
      <xs:attribute name="editable" type="yesNoType"/>
      <xs:attribute name="positionable" type="yesNoType"/>
      <xs:attribute name="controlling" type="yesNoType"/>
      <xs:attribute name="animating" type="yesNoType"/>
      <xs:attribute name="showhelpbar" type="yesNoType"/>
      <xs:attribute name="drawgrid" type="yesNoType"/>
      <xs:attribute name="snaponadd" type="yesNoType"/>
      <xs:attribute name="snaponmove" type="yesNoType"/>
      <xs:attribute name="antialiasing" type="yesNoType"/>
      <xs:attribute name="mainlinetrackwidth" type="xs:integer"/>
      <xs:attribute name="sidetrackwidth" type="xs:integer"/>
      <xs:attribute name="xscale" type="xs:float"/>
      <xs:attribute name="yscale" type="xs:float"/>
      <xs:attribute name="defaulttrackcolor" type="xs:string"/> <!-- color -->
      <xs:attribute name="defaulttextcolor" type="xs:string"/> <!-- color -->
      <xs:attribute name="turnoutbx" type="xs:float"/>
      <xs:attribute name="turnoutcx" type="xs:float"/>
      <xs:attribute name="turnoutwid" type="xs:float"/>
      <xs:attribute name="xoverlong" type="xs:float"/>
      <xs:attribute name="xoverhwid" type="xs:float"/>
      <xs:attribute name="xovershort" type="xs:float"/>
    </xs:complexType>


</xs:schema>
