xml/schema/types/signalmasts.xsd

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="../schema2xhtml.xsl" type="text/xsl"?>

<!-- This schema is part of JMRI. Copyright 2009.         -->

<!-- This file is deprecated.  Do not edit this file.     -->
<!-- Instead, edit the file with the most recent          -->
<!-- version number appended, e.g. signalmasts-2-9-6.xsd  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:docbook="http://docbook.org/ns/docbook"
           xmlns:jmri="http://jmri.org/xml/schema/JMRIschema"
           xsi:schemaLocation="
                http://jmri.org/xml/schema/JMRIschema http://jmri.org/xml/schema/JMRIschema.xsd
                http://docbook.org/ns/docbook http://jmri.org/xml/schema/docbook/docbook.xsd
            "
        >
    <xs:complexType name="SignalMastManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a SignalMastManager implementation.
        </xs:documentation>
        <xs:appinfo>
          <jmri:usingclass configurexml="true">jmri.managers.configurexml.DefaultSignalMastManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="signalmast" type="SignalMastType" minOccurs="0" maxOccurs="unbounded" />      
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required" />
    </xs:complexType>

    <xs:complexType name="SignalMastType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of one SignalMast implementation.
          Generally dealt with by the manager implemenation
        </xs:documentation>
        <xs:appinfo>
          <jmri:usingclass configurexml="true">jmri.managers.configurexml.DefaultSignalMastManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>

        <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="1" />

      </xs:sequence>
      <xs:attribute name="systemName" type="systemNameType" use="required" />
      <xs:attribute name="userName" type="nullUserNameType" />
    </xs:complexType>

</xs:schema>
