xml/schema/docbook/DocBook.xsd

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="../schema2xhtml.xsl" type="text/xsl"?>

<!-- Parts of DocBook 5.0 XML Schema                -->

<!-- This is selected parts of the                  -->
<!-- http://www.docbook.org/xml/5.0/xsd/docbook.xsd -->
<!-- XML schema file for DocBook 5.0                -->

<!-- $Id$ -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified" 
    targetNamespace="http://docbook.org/ns/docbook" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    xmlns:docbook="http://docbook.org/ns/docbook"
    >

  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://jmri.org/xml/schema/docbook/xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://jmri.org/xml/schema/docbook/xml.xsd"/>

  <xs:attributeGroup name="db.common.attributes">
    <xs:attribute ref="xml:id"/>
    <xs:attribute name="version"/>
    <xs:attribute ref="xml:lang"/>
    <xs:attribute ref="xml:base"/>
    <xs:attribute name="remap"/>
    <xs:attribute name="xreflabel"/>
    <xs:attribute name="revisionflag">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="changed"/>
          <xs:enumeration value="added"/>
          <xs:enumeration value="deleted"/>
          <xs:enumeration value="off"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="dir">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ltr"/>
          <xs:enumeration value="rtl"/>
          <xs:enumeration value="lro"/>
          <xs:enumeration value="rlo"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="arch"/>
    <xs:attribute name="audience"/>
    <xs:attribute name="condition"/>
    <xs:attribute name="conformance"/>
    <xs:attribute name="os"/>
    <xs:attribute name="revision"/>
    <xs:attribute name="security"/>
    <xs:attribute name="userlevel"/>
    <xs:attribute name="vendor"/>
    <xs:attribute name="wordsize"/>
    <xs:attribute name="annotations"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.common.linking.attributes">
    <xs:attribute name="linkend" type="xs:IDREF"/>
    <xs:attribute ref="xlink:href"/>
    <xs:attribute ref="xlink:type"/>
    <xs:attribute ref="xlink:role"/>
    <xs:attribute ref="xlink:arcrole"/>
    <xs:attribute ref="xlink:title"/>
    <xs:attribute ref="xlink:show"/>
    <xs:attribute ref="xlink:actuate"/>
  </xs:attributeGroup>

  <xs:element name="date">
    <xs:complexType mixed="true">
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="copyright">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="docbook:year"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="docbook:holder"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="year">
    <xs:complexType mixed="true">
<!-- 
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="docbook:inlinemediaobject"/>
        <xs:element ref="docbook:remark"/>
        <xs:element ref="docbook:superscript"/>
        <xs:element ref="docbook:subscript"/>
        <xs:element ref="docbook:xref"/>
        <xs:element ref="docbook:link"/>
        <xs:element ref="docbook:olink"/>
        <xs:element ref="docbook:anchor"/>
        <xs:element ref="docbook:biblioref"/>
        <xs:element ref="docbook:alt"/>
        <xs:element ref="docbook:annotation"/>
        <xs:element ref="docbook:indexterm"/>
        <xs:element ref="docbook:phrase"/>
        <xs:element ref="docbook:replaceable"/>
      </xs:choice>
 -->
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="holder">
    <xs:complexType mixed="true">
<!-- 
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="docbook:inlinemediaobject"/>
        <xs:element ref="docbook:remark"/>
        <xs:element ref="docbook:superscript"/>
        <xs:element ref="docbook:subscript"/>
        <xs:element ref="docbook:xref"/>
        <xs:element ref="docbook:link"/>
        <xs:element ref="docbook:olink"/>
        <xs:element ref="docbook:anchor"/>
        <xs:element ref="docbook:biblioref"/>
        <xs:element ref="docbook:alt"/>
        <xs:element ref="docbook:annotation"/>
        <xs:element ref="docbook:indexterm"/>
        <xs:element ref="docbook:phrase"/>
        <xs:element ref="docbook:replaceable"/>
      </xs:choice>
 -->
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="authorgroup">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="docbook:author"/>
        <!-- <xs:element ref="docbook:editor"/> -->
        <!-- <xs:element ref="docbook:othercredit"/> -->
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="author">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="docbook:personname"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <!-- <xs:element ref="docbook:personblurb"/> -->
            <!-- <xs:element ref="docbook:affiliation"/> -->
            <xs:element ref="docbook:email"/>
            <!-- <xs:element ref="docbook:uri"/> -->
            <!-- <xs:element ref="docbook:address"/> -->
            <!-- <xs:element ref="docbook:contrib"/> -->
          </xs:choice>
        </xs:sequence>
        <!-- <xs:sequence> -->
          <xs:element ref="docbook:orgname"/>
          <!-- <xs:choice minOccurs="0" maxOccurs="unbounded"> -->
            <!-- <xs:element ref="docbook:orgdiv"/> -->
            <!-- <xs:element ref="docbook:affiliation"/> -->
            <!-- <xs:element ref="docbook:email"/> -->
            <!-- <xs:element ref="docbook:uri"/> -->
            <!-- <xs:element ref="docbook:address"/> -->
            <!-- <xs:element ref="docbook:contrib"/> -->
          <!-- </xs:choice> -->
        <!-- </xs:sequence> -->
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="authorinitials">
    <xs:complexType mixed="true">
<!-- 
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="docbook:inlinemediaobject"/>
        <xs:element ref="docbook:remark"/>
        <xs:element ref="docbook:superscript"/>
        <xs:element ref="docbook:subscript"/>
        <xs:element ref="docbook:xref"/>
        <xs:element ref="docbook:link"/>
        <xs:element ref="docbook:olink"/>
        <xs:element ref="docbook:anchor"/>
        <xs:element ref="docbook:biblioref"/>
        <xs:element ref="docbook:alt"/>
        <xs:element ref="docbook:annotation"/>
        <xs:element ref="docbook:indexterm"/>
        <xs:element ref="docbook:phrase"/>
        <xs:element ref="docbook:replaceable"/>
      </xs:choice>
 -->
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="personname">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <!-- <xs:element ref="docbook:inlinemediaobject"/> -->
        <!-- <xs:element ref="docbook:remark"/> -->
        <!-- <xs:element ref="docbook:superscript"/> -->
        <!-- <xs:element ref="docbook:subscript"/> -->
        <!-- <xs:element ref="docbook:xref"/> -->
        <!-- <xs:element ref="docbook:link"/> -->
        <!-- <xs:element ref="docbook:olink"/> -->
        <!-- <xs:element ref="docbook:anchor"/> -->
        <!-- <xs:element ref="docbook:biblioref"/> -->
        <!-- <xs:element ref="docbook:alt"/> -->
        <!-- <xs:element ref="docbook:annotation"/> -->
        <!-- <xs:element ref="docbook:indexterm"/> -->
        <!-- <xs:element ref="docbook:phrase"/> -->
        <!-- <xs:element ref="docbook:replaceable"/> -->
        <!-- <xs:element ref="docbook:honorific"/> -->
        <xs:element ref="docbook:firstname"/>
        <xs:element ref="docbook:surname"/>
        <!-- <xs:element ref="docbook:lineage"/> -->
        <!-- <xs:element ref="docbook:othername"/> -->
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="email">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <!-- <xs:element ref="docbook:inlinemediaobject"/> -->
        <!-- <xs:element ref="docbook:remark"/> -->
        <!-- <xs:element ref="docbook:superscript"/> -->
        <!-- <xs:element ref="docbook:subscript"/> -->
        <!-- <xs:element ref="docbook:xref"/> -->
        <!-- <xs:element ref="docbook:link"/> -->
        <!-- <xs:element ref="docbook:olink"/> -->
        <!-- <xs:element ref="docbook:anchor"/> -->
        <!-- <xs:element ref="docbook:biblioref"/> -->
        <!-- <xs:element ref="docbook:alt"/> -->
        <!-- <xs:element ref="docbook:annotation"/> -->
        <!-- <xs:element ref="docbook:indexterm"/> -->
        <!-- <xs:element ref="docbook:phrase"/> -->
        <!-- <xs:element ref="docbook:replaceable"/> -->
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
 
  <xs:element name="firstname">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <!-- <xs:element ref="docbook:inlinemediaobject"/> -->
        <!-- <xs:element ref="docbook:remark"/> -->
        <!-- <xs:element ref="docbook:superscript"/> -->
        <!-- <xs:element ref="docbook:subscript"/> -->
        <!-- <xs:element ref="docbook:xref"/> -->
        <!-- <xs:element ref="docbook:link"/> -->
        <!-- <xs:element ref="docbook:olink"/> -->
        <!-- <xs:element ref="docbook:anchor"/> -->
        <!-- <xs:element ref="docbook:biblioref"/> -->
        <!-- <xs:element ref="docbook:alt"/> -->
        <!-- <xs:element ref="docbook:annotation"/> -->
        <!-- <xs:element ref="docbook:indexterm"/> -->
        <!-- <xs:element ref="docbook:phrase"/> -->
        <!-- <xs:element ref="docbook:replaceable"/> -->
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="surname">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <!-- <xs:element ref="docbook:inlinemediaobject"/> -->
        <!-- <xs:element ref="docbook:remark"/> -->
        <!-- <xs:element ref="docbook:superscript"/> -->
        <!-- <xs:element ref="docbook:subscript"/> -->
        <!-- <xs:element ref="docbook:xref"/> -->
        <!-- <xs:element ref="docbook:link"/> -->
        <!-- <xs:element ref="docbook:olink"/> -->
        <!-- <xs:element ref="docbook:anchor"/> -->
        <!-- <xs:element ref="docbook:biblioref"/> -->
        <!-- <xs:element ref="docbook:alt"/> -->
        <!-- <xs:element ref="docbook:annotation"/> -->
        <!-- <xs:element ref="docbook:indexterm"/> -->
        <!-- <xs:element ref="docbook:phrase"/> -->
        <!-- <xs:element ref="docbook:replaceable"/> -->
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="revhistory">
    <xs:complexType>
      <xs:sequence>
        <!-- <xs:sequence> -->
          <!-- <xs:choice minOccurs="0" maxOccurs="unbounded"> -->
            <!-- <xs:element ref="docbook:title"/> -->
            <!-- <xs:element ref="docbook:titleabbrev"/> -->
          <!-- </xs:choice> -->
          <!-- <xs:element minOccurs="0" ref="docbook:info"/> -->
        <!-- </xs:sequence> -->
        <xs:element maxOccurs="unbounded" ref="docbook:revision"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="revision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="docbook:revnumber"/>
        <xs:element ref="docbook:date"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="docbook:authorinitials"/>
          <xs:element ref="docbook:author"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element ref="docbook:revremark"/>
          <!-- <xs:element ref="docbook:revdescription"/> -->
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="revnumber">
    <xs:complexType mixed="true">
<!-- 
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="docbook:inlinemediaobject"/>
        <xs:element ref="docbook:remark"/>
        <xs:element ref="docbook:superscript"/>
        <xs:element ref="docbook:subscript"/>
        <xs:element ref="docbook:xref"/>
        <xs:element ref="docbook:link"/>
        <xs:element ref="docbook:olink"/>
        <xs:element ref="docbook:anchor"/>
        <xs:element ref="docbook:biblioref"/>
        <xs:element ref="docbook:alt"/>
        <xs:element ref="docbook:annotation"/>
        <xs:element ref="docbook:indexterm"/>
        <xs:element ref="docbook:phrase"/>
        <xs:element ref="docbook:replaceable"/>
      </xs:choice>
 -->
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="revremark">
    <xs:complexType mixed="true">
<!-- 
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="docbook:inlinemediaobject"/>
        <xs:element ref="docbook:remark"/>
        <xs:element ref="docbook:superscript"/>
        <xs:element ref="docbook:subscript"/>
        <xs:element ref="docbook:xref"/>
        <xs:element ref="docbook:link"/>
        <xs:element ref="docbook:olink"/>
        <xs:element ref="docbook:anchor"/>
        <xs:element ref="docbook:biblioref"/>
        <xs:element ref="docbook:alt"/>
        <xs:element ref="docbook:annotation"/>
        <xs:element ref="docbook:indexterm"/>
        <xs:element ref="docbook:phrase"/>
        <xs:element ref="docbook:replaceable"/>
      </xs:choice>
 -->
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
    </xs:complexType>
  </xs:element>

 <xs:element name="orgname">
    <xs:complexType mixed="true">
<!-- 
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="docbook:inlinemediaobject"/>
        <xs:element ref="docbook:remark"/>
        <xs:element ref="docbook:superscript"/>
        <xs:element ref="docbook:subscript"/>
        <xs:element ref="docbook:xref"/>
        <xs:element ref="docbook:link"/>
        <xs:element ref="docbook:olink"/>
        <xs:element ref="docbook:anchor"/>
        <xs:element ref="docbook:biblioref"/>
        <xs:element ref="docbook:alt"/>
        <xs:element ref="docbook:annotation"/>
        <xs:element ref="docbook:indexterm"/>
        <xs:element ref="docbook:phrase"/>
        <xs:element ref="docbook:replaceable"/>
      </xs:choice>
 -->
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="docbook:db.common.attributes"/>
      <xs:attributeGroup ref="docbook:db.common.linking.attributes"/>
      <xs:attribute name="class">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="consortium"/>
            <xs:enumeration value="corporation"/>
            <xs:enumeration value="informal"/>
            <xs:enumeration value="nonprofit"/>
            <xs:enumeration value="other"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="otherclass"/>
    </xs:complexType>
  </xs:element>

 </xs:schema>
