xml/schema/logixng/logixng-4.23.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="../schema2xhtml.xsl" type="text/xsl"?>

<!-- This schema is part of JMRI. Copyright 2018.                           -->
<!--                                                                        -->
<!-- JMRI is free software; you can redistribute it and/or modify it under  -->
<!-- the terms of version 2 of the GNU General Public License as published  -->
<!-- by the Free Software Foundation. See the "COPYING" file for a copy     -->
<!-- of this license.                                                       -->
<!--                                                                        -->
<!-- JMRI is distributed in the hope that it will be useful, but WITHOUT    -->
<!-- ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or  -->
<!-- FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License  -->
<!-- for more details.                                                      -->

<!-- This file contains definitions for LogixNG, Expressions and Actions,  -->
<!-- since they are so intimately coupled -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:docbook="http://docbook.org/ns/docbook"
           xmlns:jmri="http://jmri.org/xml/schema/JMRIschema"
           xsi:schemaLocation="
                http://jmri.org/xml/schema/JMRIschema http://jmri.org/xml/schema/JMRIschema.xsd
                http://docbook.org/ns/docbook http://jmri.org/xml/schema/docbook/docbook.xsd
            "
        >

  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/common-types-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/male-socket-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/analog-actions/analog-actions-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/analog-expressions/analog-expressions-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/digital-actions-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-boolean-actions/digital-boolean-actions-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-expressions/digital-expressions-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/string-actions/string-actions-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/string-expressions/string-expressions-4.23.1.xsd"/>

    <xs:complexType name="LogixNG_ManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a LogixNG_Manager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.engine.configurexml.DefaultLogixNGManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <xs:element name="Thread" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1"/>
              <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="LogixNG" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
              <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="1"/>

              <xs:element name="ConditionalNGs" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="systemName" type="systemNameType" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>

                  <xs:attribute name="enabled" type="yesNoType" />
                </xs:complexType>

              </xs:element>

            </xs:sequence>
            <xs:attribute name="enabled" type="yesNoType" />
            <xs:attribute name="inline" type="yesNoType" />
<!--            <xs:attribute name="order" type="xs:nonNegativeInteger" /> -->
          </xs:complexType>
        </xs:element>


        <xs:element name="InitializationTable" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LogixNG" type="systemNameType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>


        <xs:element name="Clipboard" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Many" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Socket" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="socketName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                          <xs:element name="systemName" type="systemNameType" minOccurs="0" maxOccurs="1"/>
                          <xs:element name="manager" type="classType" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="class" type="classType" use="required"/>
                </xs:complexType>
               </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>

    <xs:complexType name="LogixNG_ConditionalNGManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a LogixNG_Manager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.engine.configurexml.DefaultLogixNGManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <xs:element name="ConditionalNG" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
              <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="thread" type="xs:int" minOccurs="0" maxOccurs="1"/>

              <xs:element name="socketName" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="systemName" type="systemNameType" minOccurs="0" maxOccurs="1"/>

              <xs:element name="Socket" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                  <xs:element name="socketName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="systemName" type="systemNameType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
              </xs:complexType>

            </xs:element>
            </xs:sequence>

            <xs:attribute name="enabled" type="yesNoType" />
          </xs:complexType>
        </xs:element>
            
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>

    <xs:complexType name="LogixNG_ModuleManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a LogixNG_Manager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.engine.configurexml.DefaultLogixNGManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <xs:element name="Module" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
              <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="1"/>

              <xs:element name="rootSocketType" type="xs:string" minOccurs="0" maxOccurs="1"/>

              <xs:element name="Parameters" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                          <xs:element name="isInput" type="yesNoType" minOccurs="1" maxOccurs="1"/>
                          <xs:element name="isOutput" type="yesNoType" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="RootSocket" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="socketName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="systemName" type="systemNameType" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
            <xs:attribute name="class" type="classType" use="required"/>
          </xs:complexType>
        </xs:element>
            
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>

    <xs:complexType name="LogixNG_TableManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a LogixNG_Manager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.engine.configurexml.DefaultLogixNGManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <xs:element name="CsvTable" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
              <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="fileName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="class" type="classType" use="required"/>
          </xs:complexType>
        </xs:element>
            
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>

</xs:schema>
