xml/DTD/decoderIndex-config.dtd

<!-- Defines XML documenting the list of available decoder definitions -->
<!-- $Id: decoderIndex-config.dtd,v 1.5 2001-11-27 03:26:33 jacobsen Exp $ -->

<!ELEMENT decoderIndex-config (decoderIndex)>
<!ATTLIST decoderIndex-config xmlns:decoderIndex CDATA "">

<!ELEMENT decoderIndex (mfgList, familyList)>

<!-- Match NMRA codes to manufacturer names & vice versa -->
<!ELEMENT mfgList (manufacturer*) >

<!ELEMENT manufacturer EMPTY >
<!ATTLIST manufacturer mfg       CDATA #REQUIRED>  <!-- mfg name used for identification   -->
<!ATTLIST manufacturer mfgID     CDATA #IMPLIED>  <!-- CV08 value, missing means any           -->
<!ATTLIST manufacturer comment   CDATA #IMPLIED>

<!-- familyList is actually a list of families and hence decoder definitions -->
<!ELEMENT familyList (family*) >

<!ELEMENT family (decoder*) >
<!ATTLIST family file      CDATA #REQUIRED>  <!-- file name for details -->
<!ATTLIST family name      CDATA #REQUIRED>  <!-- family name used for identification -->
<!ATTLIST family mfg       CDATA #REQUIRED>  <!-- mfg name used for identification   -->
<!ATTLIST family versionID CDATA #IMPLIED >  <!-- CV07 value, default default blank means any   -->
<!ATTLIST family comment   CDATA #IMPLIED>

<!ELEMENT decoder EMPTY >
<!ATTLIST decoder model     CDATA #REQUIRED>  <!-- model name used for identification -->
<!ATTLIST decoder versionID CDATA #IMPLIED >  <!-- CV07 value, default default blank means any   -->
<!ATTLIST decoder numFns    CDATA #IMPLIED>   <!-- number of functions, default is all -->
<!ATTLIST decoder options   CDATA #IMPLIED>   <!-- comma-sep list of included options, but default is all on -->
<!ATTLIST decoder comment   CDATA #IMPLIED>
