xml/DTD/JMRIdemo-config.dtd

<!-- Defines XML for configuring the JMRIdemo program -->
<!-- $Id: JMRIdemo-config.dtd,v 1.2 2001-11-23 21:59:20 jacobsen Exp $ -->

<!ELEMENT JMRIdemo:JMRIdemo-config (JMRIdemo:directory JMRIdemo:decoderList)>
<!ATTLIST JMRIdemo:JMRIdemo-config xmlns:JMRIdemo CDATA "">

<!--  Section identifies directory(s) where various information is looked for -->
<!ELEMENT JMRIdemo:directory EMPTY>
<!ATTLIST JMRIdemo:directory xmlDir CDATA "xml/">

<!--  Section identifies decoder configuration information -->
<!ELEMENT JMRIdemo:decoderList EMPTY>
<!ATTLIST JMRIdemo:decoderList listFile CDATA "xml/decoderList.xml">




