xml/DTD/JMRIdemo-config.dtd

<!-- Defines XML for configuring the JMRIdemo program -->
<!-- $Id: JMRIdemo-config.dtd,v 1.4 2001-12-18 07:16:37 jacobsen Exp $ -->

<!ELEMENT JMRIdemo-config (directory decoderList)>
<!ATTLIST JMRIdemo-config>

<!--  Section identifies directory(s) where various information is looked for -->
<!ELEMENT directory EMPTY>
<!ATTLIST directory xmlDir CDATA "xml/">

<!--  Section identifies decoder configuration information -->
<!ELEMENT decoderList EMPTY>
<!ATTLIST decoderList listFile CDATA "xml/decoderList.xml">




