xml/DTD/layout-config.dtd

<!-- Defines XML documenting a JMRI config, esp. information -->
<!-- on program preferences, hardware configuration, and user items -->
<!-- $Id: layout-config.dtd,v 1.47 2005-08-02 22:20:40 jacobsen Exp $ -->

<!-- This DTD is Copyright 2001, 2003 JMRI.  You may freely use    -->
<!-- it subject to the Open Source Artistic License, a copy of     -->
<!-- which is available in the COPYING file distributed along with -->
<!-- this file or at http://jmri.sf.net/COPYING                    -->
<!-- For more information on the JMRI project, including this DTD, -->
<!-- see http://jmri.sf.net                                        -->

<!ELEMENT layout-config (connection | gui | programmer | roster | perform |
			preferences | turnouts | sensors | lights | blocks | signals | routes |
						securityelements | aspectgenerator | paneleditor |
						signalheads | application | blocks | reporters |
						memories | memorys | timebase )*>

<!-- Overall application configuration -->
<!ELEMENT application (connection*, gui*, programmer, roster?, perform*)>
  <!ATTLIST application class CDATA #REQUIRED>

<!--  Connection section identifies serial port info -->
<!ELEMENT connection (node*)>
  <!ATTLIST connection class CDATA #REQUIRED>
  <!ATTLIST connection port CDATA #IMPLIED>
  <!ATTLIST connection speed CDATA #IMPLIED>  <!-- May not be provided if fixed by protocol -->
  <!ATTLIST connection option1 CDATA #IMPLIED> <!-- Meaning is protocol specific -->
  <!ATTLIST connection option2 CDATA #IMPLIED> <!-- Meaning is protocol specific -->

<!ELEMENT node (parameter*)>
  <!ATTLIST node name CDATA #REQUIRED>

<!ELEMENT parameter (#PCDATA)>  <!-- Character content is parameter value -->
  <!ATTLIST parameter name CDATA #REQUIRED>

  
<!--  Gui section identifies GUI info, e.g. look&feel info-->
<!ELEMENT gui EMPTY>
  <!ATTLIST gui class CDATA #REQUIRED>
  <!ATTLIST gui LAFclass CDATA #IMPLIED>  <!-- default means use system default -->
  <!ATTLIST gui LocaleLanguage CDATA #IMPLIED>  <!-- default means use system default -->
  <!ATTLIST gui LocaleCountry CDATA #IMPLIED>  <!-- default means use system default -->
  <!ATTLIST gui LocaleVariant CDATA #IMPLIED>  <!-- default means use system default -->

<!--  Application section identifies programmer options -->
<!ELEMENT programmer EMPTY>
  <!ATTLIST programmer class CDATA #REQUIRED>
  <!ATTLIST programmer defaultFile CDATA "Basic.xml">
  <!ATTLIST programmer showEmptyPanes ( yes | no ) "yes" >
  <!ATTLIST programmer verifyBeforeWrite (yes | no) "no" >

<!--  Application section identifies roster options -->
<!ELEMENT roster EMPTY>
  <!ATTLIST roster class CDATA #REQUIRED>
  <!ATTLIST roster directory CDATA #REQUIRED>
  <!ATTLIST roster ownerDefault CDATA #IMPLIED>

<!--  Section identifies items to invoke at startup -->
<!ELEMENT perform EMPTY>
  <!ATTLIST perform class CDATA #REQUIRED> <!-- selects XML class that will handle -->
  <!ATTLIST perform type (Action | ScriptFile| XmlFile | Button) "Action" >
  <!ATTLIST perform name CDATA #REQUIRED> <!-- name of item to invoke -->

<!ELEMENT sensors (sensor*) >

  <!ATTLIST sensors class		CDATA #REQUIRED>

  <!ELEMENT sensor EMPTY >
    <!ATTLIST sensor systemName	CDATA #REQUIRED>  <!-- defines system type -->
    <!ATTLIST sensor userName		CDATA #IMPLIED>

<!ELEMENT turnouts (turnout*)>
  <!ATTLIST turnouts class		CDATA #REQUIRED>

  <!ELEMENT turnout EMPTY >
    <!ATTLIST turnout systemName	CDATA #REQUIRED>  <!-- defines system type -->
    <!ATTLIST turnout userName		CDATA #IMPLIED>
    <!ATTLIST turnout feedback		CDATA #IMPLIED>
    <!ATTLIST turnout sensor1		CDATA #IMPLIED>
    <!ATTLIST turnout sensor2		CDATA #IMPLIED>

<!ELEMENT lights (light*)>
  <!ATTLIST lights class		CDATA #REQUIRED>

  <!ELEMENT light EMPTY >
    <!ATTLIST light systemName		CDATA #REQUIRED>  <!-- defines system type -->
    <!ATTLIST light userName		CDATA #IMPLIED>
    <!ATTLIST light controlType		CDATA #REQUIRED>
    <!ATTLIST light controlSensor	CDATA #IMPLIED>
    <!ATTLIST light sensorSense		CDATA #IMPLIED>
    <!ATTLIST light fastClockOnHour	CDATA #IMPLIED>
    <!ATTLIST light fastClockOnMin	CDATA #IMPLIED>
    <!ATTLIST light fastClockOffHour	CDATA #IMPLIED>
    <!ATTLIST light fastClockOffMin	CDATA #IMPLIED>
    <!ATTLIST light controlTurnout	CDATA #IMPLIED>
    <!ATTLIST light turnoutState	CDATA #IMPLIED>
    <!ATTLIST light timedControlSensor	CDATA #IMPLIED>
    <!ATTLIST light duration		CDATA #IMPLIED>

<!ELEMENT reporters (reporter*)>
  <!ATTLIST reporters class		CDATA #REQUIRED>

  <!ELEMENT reporter EMPTY >
    <!ATTLIST reporter systemName	CDATA #REQUIRED>  <!-- defines system type -->
    <!ATTLIST reporter userName		CDATA #IMPLIED>

<!ELEMENT memorys (memory*)>  
  <!ATTLIST memorys class		CDATA #IMPLIED>
<!-- now replaced by memories element, here to allow validate of old files -->

<!ELEMENT memories (memory*)>
  <!ATTLIST memories class		CDATA #REQUIRED>

  <!ELEMENT memory EMPTY >
    <!ATTLIST memory systemName	CDATA #REQUIRED>  <!-- defines system type -->
    <!ATTLIST memory userName		CDATA #IMPLIED>

<!ELEMENT timebase EMPTY>
  <!ATTLIST timebase class		CDATA #REQUIRED>
  <!ATTLIST timebase time		CDATA #IMPLIED>
  <!ATTLIST timebase run		CDATA #IMPLIED>
  <!ATTLIST timebase rate		CDATA #IMPLIED>

<!ELEMENT signalheads (signalhead*)>
  <!ATTLIST signalheads class		CDATA #REQUIRED>

  <!ELEMENT signalhead (turnout*) >     <!-- different actual types carry different contents -->
  	<!ATTLIST signalhead class	CDATA #REQUIRED>
    <!ATTLIST signalhead systemName	CDATA #REQUIRED>  
    <!ATTLIST signalhead userName	CDATA #IMPLIED>

<!ELEMENT routes (route*)>
  <!ATTLIST routes class		CDATA #REQUIRED>

  <!ELEMENT route (routeTurnout*, routeSensor*) >
    <!ATTLIST route systemName		CDATA #REQUIRED>  <!-- defines system type -->
    <!ATTLIST route userName		CDATA #IMPLIED>
    <!ATTLIST route controlTurnout	CDATA #IMPLIED>
    <!ATTLIST route controlTurnoutState	CDATA #IMPLIED>

   <!ELEMENT routeTurnout EMPTY >
    <!ATTLIST routeTurnout systemName	CDATA #REQUIRED>  <!-- defines route turnout -->
    <!ATTLIST routeTurnout state	CDATA #REQUIRED>  <!-- defines turnout set state-->

   <!ELEMENT routeSensor EMPTY >
    <!ATTLIST routeSensor systemName	CDATA #REQUIRED>  <!-- defines control sensor -->
    <!ATTLIST routeSensor mode (onActive | onInactive | vetoActive | vetoInactive ) "onActive" >  <!-- defines control sensor -->

<!ELEMENT securityelements (securityelement*)>
  <!ATTLIST securityelements class		CDATA #REQUIRED>

  <!ELEMENT securityelement EMPTY >
    <!ATTLIST securityelement number	CDATA #REQUIRED>  <!-- defines system type? -->

	<!-- "mode" is now obsolete, and rewritten files will not use it. It -->
	<!-- has been replaced by the onReservation and makeReservation attributes -->
	<!--    "head" is makeReservation "A" and onReservation "stopOpposite" -->
	<!--    "APB" is onReservation "stopOpposite" -->
	<!--    "ABS" is the defaults -->
    <!ATTLIST securityelement mode       (none | ABS|APB|head) "none" >  
    	<!-- "head" - APB headblock -->
    <!ATTLIST securityelement onAXReservation		(none|stopOpposite|stopUnreserved) "none" >
    <!ATTLIST securityelement onXAReservation		(none|stopOpposite|stopUnreserved) "none" >
    <!ATTLIST securityelement makeReservation	(none|A|AB|AC|ABC|B|BC|C) "none" >

    <!ATTLIST securityelement calculates		(yes | no ) "yes" >
    
        <!-- attachXleg is coded 0 for none, 1 for A, 2 for B, 4 for C -->
    <!ATTLIST securityelement attachAnum		CDATA #IMPLIED>
    <!ATTLIST securityelement attachAleg		CDATA #IMPLIED>
    <!ATTLIST securityelement attachBnum		CDATA #IMPLIED>
    <!ATTLIST securityelement attachBleg		CDATA #IMPLIED>
    <!ATTLIST securityelement attachCnum		CDATA #IMPLIED>
    <!ATTLIST securityelement attachCleg		CDATA #IMPLIED>
    
    <!ATTLIST securityelement dsSensor			CDATA #IMPLIED>
    <!ATTLIST securityelement turnout			CDATA #IMPLIED>
    <!ATTLIST securityelement auxInput			CDATA #IMPLIED>
    
    <!ATTLIST securityelement maxSpeedAC		CDATA #IMPLIED>
    <!ATTLIST securityelement maxSpeedCA		CDATA #IMPLIED>
    <!ATTLIST securityelement maxSpeedAB		CDATA #IMPLIED>
    <!ATTLIST securityelement maxSpeedBA		CDATA #IMPLIED>
    <!ATTLIST securityelement maxBrakingAC		CDATA #IMPLIED>
    <!ATTLIST securityelement maxBrakingCA		CDATA #IMPLIED>
    <!ATTLIST securityelement maxBrakingAB		CDATA #IMPLIED>
    <!ATTLIST securityelement maxBrakingBA		CDATA #IMPLIED>

  <!ELEMENT aspectgenerator (aspectgeneratorhead*) >
    <!ATTLIST aspectgenerator number	CDATA #REQUIRED>  <!-- defines system type? -->

  	<!ELEMENT aspectgeneratorhead (aspectgeneratoraspect*) >

	  <!ELEMENT aspectgeneratoraspect EMPTY >
      <!ATTLIST aspectgeneratoraspect color	CDATA #REQUIRED>
      <!ATTLIST aspectgeneratoraspect limit	CDATA #REQUIRED>

<!ELEMENT paneleditor (positionablelabel|sensoricon|turnouticon|
						securityelementicon | signalheadicon |
						reportericon | memoryicon |
					    fastclock)* >
  <!ATTLIST paneleditor class		CDATA #REQUIRED>
  <!ATTLIST paneleditor name		CDATA #IMPLIED>
  <!ATTLIST paneleditor x			CDATA #REQUIRED>
  <!ATTLIST paneleditor y			CDATA #REQUIRED>
  <!ATTLIST paneleditor height		CDATA #REQUIRED>
  <!ATTLIST paneleditor width		CDATA #REQUIRED>
  <!ATTLIST paneleditor editable	(yes|no) "yes" >
  <!ATTLIST paneleditor positionable	(yes|no) "yes" >
  <!ATTLIST paneleditor controlling	(yes|no) "yes" >
  <!ATTLIST paneleditor hide		(yes|no) "no" >

  <!ELEMENT positionablelabel EMPTY>
    <!ATTLIST positionablelabel class	CDATA #REQUIRED>
    <!ATTLIST positionablelabel x		CDATA #REQUIRED>
    <!ATTLIST positionablelabel y		CDATA #REQUIRED>
    <!ATTLIST positionablelabel height	CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST positionablelabel width	CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST positionablelabel rotate  CDATA #IMPLIED>
    <!ATTLIST positionablelabel text	CDATA #IMPLIED>
    <!ATTLIST positionablelabel icon	CDATA #IMPLIED>
    <!ATTLIST positionablelabel level	CDATA #IMPLIED>
    <!ATTLIST positionablelabel size	CDATA #IMPLIED>
    <!ATTLIST positionablelabel style	CDATA #IMPLIED>
    <!ATTLIST positionablelabel red  	CDATA #IMPLIED>
    <!ATTLIST positionablelabel green	CDATA #IMPLIED>
    <!ATTLIST positionablelabel blue	CDATA #IMPLIED>
    

  <!ELEMENT sensoricon EMPTY>
    <!ATTLIST sensoricon class		CDATA #REQUIRED>
    <!ATTLIST sensoricon x			CDATA #REQUIRED>
    <!ATTLIST sensoricon y			CDATA #REQUIRED>
    <!ATTLIST sensoricon height		CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST sensoricon width		CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST sensoricon rotate  	CDATA #IMPLIED>
    <!ATTLIST sensoricon active		CDATA #IMPLIED>
    <!ATTLIST sensoricon inactive	CDATA #IMPLIED>
    <!ATTLIST sensoricon unknown	CDATA #IMPLIED>
    <!ATTLIST sensoricon inconsistent		CDATA #IMPLIED>
    <!ATTLIST sensoricon sensor		CDATA #IMPLIED>

  <!ELEMENT reportericon EMPTY>
    <!ATTLIST reportericon class	CDATA #REQUIRED>
    <!ATTLIST reportericon x		CDATA #REQUIRED>
    <!ATTLIST reportericon y		CDATA #REQUIRED>
    <!ATTLIST reportericon height	CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST reportericon width	CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST reportericon rotate  	CDATA #IMPLIED>
    <!ATTLIST reportericon reporter	CDATA #IMPLIED>

  <!ELEMENT memoryicon (memorystate)*>
    <!ATTLIST memoryicon class	CDATA #REQUIRED>
    <!ATTLIST memoryicon x		CDATA #REQUIRED>
    <!ATTLIST memoryicon y		CDATA #REQUIRED>
    <!ATTLIST memoryicon height	CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST memoryicon width	CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST memoryicon rotate  	CDATA #IMPLIED>
    <!ATTLIST memoryicon memory	CDATA #IMPLIED>
    <!ATTLIST memoryicon defaulticon CDATA #IMPLIED>
    <!ATTLIST memoryicon selectable ( yes | no ) "no" >
        
  <!ELEMENT memorystate EMPTY>
    <!ATTLIST memorystate value	CDATA #REQUIRED>
    <!ATTLIST memorystate icon	CDATA #REQUIRED>

  <!ELEMENT fastclock EMPTY>
    <!ATTLIST fastclock class CDATA #REQUIRED>
    <!ATTLIST fastclock x     CDATA #REQUIRED>
    <!ATTLIST fastclock y     CDATA #REQUIRED>

  <!ELEMENT signalheadicon EMPTY>
    <!ATTLIST signalheadicon class	CDATA #REQUIRED>
    <!ATTLIST signalheadicon x			CDATA #REQUIRED>
    <!ATTLIST signalheadicon y			CDATA #REQUIRED>
    <!ATTLIST signalheadicon height	CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST signalheadicon width	CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST signalheadicon rotate  	CDATA #IMPLIED>
    <!ATTLIST signalheadicon red         CDATA #IMPLIED>
    <!ATTLIST signalheadicon yellow      CDATA #IMPLIED>
    <!ATTLIST signalheadicon flashyellow CDATA #IMPLIED>
    <!ATTLIST signalheadicon green       CDATA #IMPLIED>
    <!ATTLIST signalheadicon signalhead  CDATA #IMPLIED>
    
    <!-- the next two (aspectgenerator and head) are obsolete, and -->
    <!-- are only retained until JMRI 3 so that old files can be read -->
    <!ATTLIST signalheadicon aspectgenerator		CDATA #IMPLIED>
    <!ATTLIST signalheadicon head		CDATA #IMPLIED>

  <!ELEMENT turnouticon EMPTY>
    <!ATTLIST turnouticon class		CDATA #REQUIRED>
    <!ATTLIST turnouticon x			CDATA #REQUIRED>
    <!ATTLIST turnouticon y			CDATA #REQUIRED>
    <!ATTLIST turnouticon height	CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST turnouticon width		CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST turnouticon rotate  	CDATA #IMPLIED>
    <!ATTLIST turnouticon closed	CDATA #IMPLIED>
    <!ATTLIST turnouticon thrown	CDATA #IMPLIED>
    <!ATTLIST turnouticon unknown	CDATA #IMPLIED>
    <!ATTLIST turnouticon inconsistent		CDATA #IMPLIED>
    <!ATTLIST turnouticon turnout	CDATA #IMPLIED>

  <!ELEMENT securityelementicon EMPTY>
    <!ATTLIST securityelementicon class		CDATA #REQUIRED>
    <!ATTLIST securityelementicon AX        (rightbound|leftbound) "rightbound">
    <!ATTLIST securityelementicon number	CDATA #REQUIRED>
    <!ATTLIST securityelementicon x			CDATA #REQUIRED>
    <!ATTLIST securityelementicon y			CDATA #REQUIRED>
    <!ATTLIST securityelementicon height	CDATA #IMPLIED> <!-- deprecated -->
    <!ATTLIST securityelementicon width		CDATA #IMPLIED> <!-- deprecated -->

<!ELEMENT blocks (block*) >
  <!ATTLIST blocks class CDATA #REQUIRED> <!-- selects XML class that will handle -->

<!ELEMENT block (sensor*) >
  <!ATTLIST block signal 			  CDATA #REQUIRED >
  <!ATTLIST block mode				  CDATA #IMPLIED>
  <!ATTLIST block watchedsensor       CDATA #IMPLIED>
  <!ATTLIST block watchedturnout      CDATA #IMPLIED>
  <!ATTLIST block watchedsignal1      CDATA #IMPLIED>
  <!ATTLIST block watchedsignal2      CDATA #IMPLIED>
  <!ATTLIST block useflashyellow      CDATA #IMPLIED>
  <!ATTLIST block distantsignal    (true|false) "false" >

<!ELEMENT signals EMPTY >
