xml/DTD/locomotive-config.dtd

<!-- Defines XML documenting on a locomotive, esp. information -->
<!-- on how it is programmed. -->

<!ELEMENT locomotive:locomotive-config (locomotive:locomotive)>
<!-- Exactly one locomotive per file now, as the SymbolicProgrammer reads a file -->
<!-- to configure a locomotive.  How to create a "roster file"? -->
<!ATTLIST locomotive:locomotive-config xmlns:locomotive CDATA "">


<!ELEMENT locomotive:locomotive (locomotive:decoder, locomotive:values*) >
<!ATTLIST locomotive:locomotive roadNumber CDATA #IMPLIED>          
<!ATTLIST locomotive:locomotive roadName   CDATA #IMPLIED>          
<!ATTLIST locomotive:locomotive mfg		   CDATA #IMPLIED>
<!ATTLIST locomotive:locomotive model      CDATA #IMPLIED>
<!ATTLIST locomotive:locomotive comment    CDATA #IMPLIED>

<!-- The decoder optional section defines the type of the installed decoder -->
<!ELEMENT locomotive:decoder EMPTY >
<!ATTLIST locomotive:decoder model     CDATA #REQUIRED>  <!-- model name used for identification -->
<!ATTLIST locomotive:decoder mfg       CDATA #REQUIRED>  <!-- mfg name used for identification   -->
<!ATTLIST locomotive:decoder versionID CDATA #IMPLIED >  <!-- CV07 value, default blank means any   -->
<!ATTLIST locomotive:decoder mfgID     CDATA #IMPLIED>   <!-- CV08 value, default blank means any           -->
<!ATTLIST locomotive:decoder comment   CDATA #IMPLIED>

<!-- The values section defines values for CVs and/or variables -->
<!ELEMENT locomotive:values (locomotive:decoderDef, locomotive:CVvalue*)>

<!ELEMENT locomotive:decoderDef (locomotive:varValue*) >   <!-- Where the variable definitions came from -->
<!ATTLIST locomotive:decoderDef filename CDATA #IMPLIED >  <!-- Not present means no file,
														     which better be CV values only; how
														     to enforce? -->
<!ATTLIST locomotive:decoderDef version  CDATA #IMPLIED >  <!-- From  -->

		  						
<!ELEMENT locomotive:CVvalue EMPTY>
<!ATTLIST locomotive:CVvalue name CDATA #REQUIRED>            <!-- Name used for identification -->
<!ATTLIST locomotive:CVvalue value CDATA #REQUIRED>           <!-- Value of specified CV -->
<!ATTLIST locomotive:CVvalue comment   CDATA #IMPLIED>

<!ELEMENT locomotive:varValue EMPTY>
<!ATTLIST locomotive:varValue name CDATA #REQUIRED>            <!-- Name used for identification -->
<!ATTLIST locomotive:varValue value CDATA #REQUIRED>           <!-- Value of specified variable -->
<!ATTLIST locomotive:varValue comment   CDATA #IMPLIED>


