xml/DTD/locomotive-config.dtd

<!-- Defines XML documenting on a locomotive, esp. information -->
<!-- on how it is programmed. -->
<!-- $Id: locomotive-config.dtd,v 1.8 2001-11-18 01:46:42 jacobsen Exp $ -->

<!ELEMENT locomotive:locomotive-config (locomotive:locomotive)>
<!ATTLIST locomotive:locomotive-config xmlns:locomotive CDATA "">

<!-- The identification attributes in locomotive:locomotive and -->
<!-- locomotive:decoder must be kept the same as the ones in the roster DTD -->
<!-- This copy is used if we have to import an existing file into a roster -->

<!-- The identification attributes must be kept the same as the ones in the roster DTD -->

<!ELEMENT locomotive:locomotive (locomotive:decoder, locomotive:values*) >
<!ATTLIST locomotive:locomotive id			CDATA #REQUIRED>          
<!ATTLIST locomotive:locomotive roadName	CDATA #IMPLIED>          
<!ATTLIST locomotive:locomotive roadNumber	CDATA #IMPLIED>          
<!ATTLIST locomotive:locomotive mfg			CDATA #IMPLIED>
<!ATTLIST locomotive:locomotive model		CDATA #IMPLIED>
<!ATTLIST locomotive:locomotive dccAddress	CDATA #IMPLIED>	<!-- long or short address -->
<!ATTLIST locomotive:locomotive comment		CDATA #IMPLIED>

<!-- The decoder optional section defines the type of the installed decoder -->
<!ELEMENT locomotive:decoder EMPTY >
<!ATTLIST locomotive:decoder model     CDATA #REQUIRED>  <!-- used for identification -->
<!ATTLIST locomotive:decoder family    CDATA #REQUIRED>  <!-- used for identification   -->
<!ATTLIST locomotive:decoder comment   CDATA #IMPLIED>

<!-- The values section defines values for CVs and/or variables -->
<!ELEMENT locomotive:values (locomotive:decoderDef, locomotive:CVvalue*)>

<!ELEMENT locomotive:decoderDef (locomotive:varValue*) >   <!-- Where the variable definitions came from -->
		  						
<!ELEMENT locomotive:CVvalue EMPTY>
<!ATTLIST locomotive:CVvalue name CDATA #REQUIRED>            <!-- Name used for identification -->
<!ATTLIST locomotive:CVvalue value CDATA #REQUIRED>           <!-- Value of specified CV -->
<!ATTLIST locomotive:CVvalue comment   CDATA #IMPLIED>

<!ELEMENT locomotive:varValue EMPTY>
<!ATTLIST locomotive:varValue name CDATA #REQUIRED>            <!-- Name used for identification -->
<!ATTLIST locomotive:varValue value CDATA #REQUIRED>           <!-- Value of specified variable -->
<!ATTLIST locomotive:varValue comment   CDATA #IMPLIED>


