xml/DTD/names-config.dtd

<!-- Defines XML documenting standard names and aliases -->
<!-- $Id: names-config.dtd,v 1.4 2001-12-20 15:14:45 jacobsen Exp $ -->

<!ELEMENT names-config (version, definition*)>

<!-- The version section identifies the file information.  Similar -->
<!-- clauses appear in other DTD files; check consistency. -->
<!ELEMENT version EMPTY>
<!ATTLIST version author     	CDATA #IMPLIED>
<!ATTLIST version version     	CDATA #IMPLIED>
<!ATTLIST version lastUpdated   CDATA #IMPLIED>
<!ATTLIST version comment     	CDATA #IMPLIED>


<!-- The following are very similar to the definitions in decoder-config.dtd, -->
<!-- and should be kept consistent -->

<!ELEMENT definition EMPTY >
<!ATTLIST definition name CDATA #REQUIRED>  <!-- Name used for identification -->
<!ATTLIST definition stdName CDATA #IMPLIED>  <!-- standard name for this function if different -->

<!ATTLIST definition comment   CDATA #IMPLIED>

<!-- The CV and mask attributes are still under consideration. They are not used in the  -->
<!-- programs, and are currently here just for mapping to the definitions elsewhere -->
<!ATTLIST definition CV CDATA #IMPLIED>    <!-- CV number containing value -->
<!ATTLIST definition mask CDATA "VVVVVVVV">    <!-- mask of bits within CV -->
                                           <!-- mask is up to 16 characters long, each -->
                                           <!-- representing one bit in the result -->
                                           <!-- valid chars: -->
                                           <!--     X   not used     -->
                                           <!--     V   used bits    -->


