xml/DTD/operations-config.dtd

<!-- Defines XML documenting operations configuration -->
<!-- $Id: operations-config.dtd,v 1.3 2008-10-11 02:42:33 dan_boudreau Exp $ -->

<!-- This DTD is part of JMRI. Copyright 2001, 2003, 2007, 2008.                  -->
<!--                                                                        -->
<!-- JMRI is free software; you can redistribute it and/or modify it under  -->
<!-- the terms of version 2 of the GNU General Public License as published  -->
<!-- by the Free Software Foundation. See the "COPYING" file for a copy     -->
<!-- of this license.                                                       -->
<!--                                                                        -->
<!-- JMRI is distributed in the hope that it will be useful, but WITHOUT    -->
<!-- ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or  -->
<!-- FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License  -->
<!-- for more details.                                                      -->

<!ELEMENT operations-config (operations)*>
<!ELEMENT operations (railRoad | settings | panel | fontName | owner | iconColor)*>

<!ELEMENT railRoad EMPTY>
<!ELEMENT settings EMPTY>
<!ELEMENT panel EMPTY>
<!ELEMENT fontName EMPTY>
<!ELEMENT owner EMPTY>
<!ELEMENT iconColor EMPTY>


<!ATTLIST railRoad name				CDATA #IMPLIED>          
<!ATTLIST settings trainDirection	CDATA #IMPLIED>
<!ATTLIST settings trainLength		CDATA #IMPLIED>       
<!ATTLIST settings maxEngines		CDATA #IMPLIED> 
<!ATTLIST settings addCarComment	(true | false ) "false">  
<!ATTLIST settings scale			CDATA #IMPLIED> 
<!ATTLIST panel name				CDATA #IMPLIED>
<!ATTLIST panel trainIconXY			(true | false ) "true"> 
<!ATTLIST panel trainIconAppend		(true | false ) "false"> 
<!ATTLIST fontName name				CDATA #IMPLIED>                                   
<!ATTLIST owner name				CDATA #IMPLIED>
<!ATTLIST iconColor north			CDATA #IMPLIED>    
<!ATTLIST iconColor south			CDATA #IMPLIED> 
<!ATTLIST iconColor east			CDATA #IMPLIED> 
<!ATTLIST iconColor west			CDATA #IMPLIED> 
<!ATTLIST iconColor local			CDATA #IMPLIED> 
<!ATTLIST iconColor terminate		CDATA #IMPLIED> 


