xml/DTD/operations-config.dtd

<!-- Defines XML documenting operations configuration -->
<!-- $Id: operations-config.dtd,v 1.21 2010-09-08 18:48:25 dan_boudreau Exp $ -->

<!-- This DTD is part of JMRI. Copyright 2001, 2003, 2007, 2008.                  -->
<!--                                                                        -->
<!-- JMRI is free software; you can redistribute it and/or modify it under  -->
<!-- the terms of version 2 of the GNU General Public License as published  -->
<!-- by the Free Software Foundation. See the "COPYING" file for a copy     -->
<!-- of this license.                                                       -->
<!--                                                                        -->
<!-- JMRI is distributed in the hope that it will be useful, but WITHOUT    -->
<!-- ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or  -->
<!-- FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License  -->
<!-- for more details.                                                      -->

<!ELEMENT operations-config (operations)*>
<!ELEMENT operations (railRoad | settings | panel | fontName | manifestColors | manifestLogo | buildOptions | buildReport | owner | iconColor | options | comments)*>

<!ELEMENT railRoad EMPTY>
<!ELEMENT settings EMPTY>
<!ELEMENT panel EMPTY>
<!ELEMENT fontName EMPTY>
<!ELEMENT manifestColors EMPTY>
<!ELEMENT manifestLogo EMPTY>
<!ELEMENT buildOptions EMPTY>
<!ELEMENT buildReport EMPTY>
<!ELEMENT owner EMPTY>
<!ELEMENT iconColor EMPTY>
<!ELEMENT options (setupFrameOptions)*>
<!ELEMENT setupFrameOptions EMPTY>
<!ELEMENT comments EMPTY>

<!ATTLIST railRoad name				CDATA #IMPLIED>  
<!ATTLIST settings mainMenu			(true | false ) "false">         
<!ATTLIST settings trainDirection	CDATA #IMPLIED>
<!ATTLIST settings trainLength		CDATA #IMPLIED>       
<!ATTLIST settings maxEngines		CDATA #IMPLIED> 
<!ATTLIST settings switchTime		CDATA #IMPLIED> 
<!ATTLIST settings travelTime		CDATA #IMPLIED>
<!ATTLIST settings showCarLength	(true | false ) "true">  
<!ATTLIST settings showCarColor		(true | false ) "true">  
<!ATTLIST settings showCarLoad		(true | false ) "false">  
<!ATTLIST settings showCarDestination (true | false ) "false">  
<!ATTLIST settings showRfid 		(true | false ) "false">  
<!ATTLIST settings carRoutingEnabled (true | false ) "true"> 
<!ATTLIST settings carRoutingViaStaging (true | false ) "false">
<!ATTLIST settings carLogger 		(true | false ) "false">  
<!ATTLIST settings engineLogger 	(true | false ) "false"> 
<!ATTLIST settings addCarComment	(true | false ) "false">  
<!ATTLIST settings scale			CDATA #IMPLIED> 
<!ATTLIST settings carTypes			CDATA #IMPLIED> 
<!ATTLIST panel name				CDATA #IMPLIED>
<!ATTLIST panel trainIconXY			(true | false ) "true"> 
<!ATTLIST panel trainIconAppend		(true | false ) "false"> 
<!ATTLIST fontName name				CDATA #IMPLIED>   
<!ATTLIST manifestColors dropColor	CDATA #IMPLIED> 
<!ATTLIST manifestColors pickupColor	CDATA #IMPLIED>  
<!ATTLIST manifestLogo name			CDATA #IMPLIED>  
<!ATTLIST buildOptions aggressive	(true | false ) "false">              
<!ATTLIST buildReport level			CDATA #IMPLIED>                                   
<!ATTLIST owner name				CDATA #IMPLIED>
<!ATTLIST iconColor north			CDATA #IMPLIED>    
<!ATTLIST iconColor south			CDATA #IMPLIED> 
<!ATTLIST iconColor east			CDATA #IMPLIED> 
<!ATTLIST iconColor west			CDATA #IMPLIED> 
<!ATTLIST iconColor local			CDATA #IMPLIED> 
<!ATTLIST iconColor terminate		CDATA #IMPLIED> 

<!ATTLIST setupFrameOptions x		CDATA #IMPLIED> 
<!ATTLIST setupFrameOptions y		CDATA #IMPLIED> 
<!ATTLIST setupFrameOptions height	CDATA #IMPLIED> 
<!ATTLIST setupFrameOptions width	CDATA #IMPLIED> 

<!ATTLIST comments misplacedCars		CDATA #IMPLIED> 


