xml/DTD/preferences-config.dtd

<!-- Defines XML for configuring the JMRIdemo and DecoderPro programs -->
<!-- $Id: preferences-config.dtd,v 1.1 2002-02-20 16:05:36 jacobsen Exp $ -->

<!ELEMENT preferences-config (connection, gui, programmer)>
<!ATTLIST preferences-config>

<!--  Section identifies serial port info -->
<!ELEMENT connection EMPTY>
<!ATTLIST connection class CDATA #REQUIRED>
<!ATTLIST connection port CDATA #REQUIRED>
<!ATTLIST connection speed CDATA #IMPLIED>  <!-- May not be provided if fixed by protocol -->
<!ATTLIST connection option1 CDATA #IMPLIED> <!-- Meaning is protocol specific -->
<!ATTLIST connection option2 CDATA #IMPLIED> <!-- Meaning is protocol specific -->

<!--  Section identifies GUI info, e.g. look&feel info-->
<!ELEMENT gui EMPTY>
<!ATTLIST gui LAFclass CDATA #IMPLIED>  <!-- default means use system default -->

<!--  Section identifies programmer options -->
<!ELEMENT programmer EMPTY>
<!ATTLIST programmer defaultFile CDATA "Basic.xml">
<!ATTLIST programmer verifyBeforeWrite (yes | no) "no" >







