xml/DTD/programmer-config.dtd

<!-- Defines XML documenting a CV programmer format -->
<!-- $Id: programmer-config.dtd,v 1.7 2001-11-27 03:26:33 jacobsen Exp $ -->

<!ELEMENT programmer-config (programmer*)>
<!ATTLIST programmer-config xmlns:programmer CDATA "">

<!ELEMENT programmer (pane*)>
<!-- Which name to show in GUI? -->
<!ATTLIST programmer nameFmt (mfg | stdName | NMRA ) "mfg">


<!-- The pane sections define each tabbed pane of options -->
<!ELEMENT pane (column*)>
<!ATTLIST pane name CDATA #REQUIRED>  <!-- Name used for identification -->

<!-- The column section describes each column in the pane -->
<!ELEMENT column ((variable | label | separator | cvtable | fnmapping | dccaddress )*)>

<!-- Insert a separator line -->
<!ELEMENT separator EMPTY>

<!-- Insert a cv table -->
<!ELEMENT cvtable EMPTY>

<!-- Insert a function mapping display/edit panel -->
<!ELEMENT fnmapping EMPTY>

<!-- Insert a variable that handles long & short dcc addresses -->
<!ELEMENT dccaddress EMPTY>

<!-- The label items describes an arbitrary text string -->
<!ELEMENT label EMPTY >
<!ATTLIST label label CDATA #REQUIRED>

<!-- The variable items define each identified variables -->
<!-- in the column and how they are displayed -->

<!ELEMENT variable EMPTY >
<!ATTLIST variable name CDATA #REQUIRED>  <!-- Name used for identification -->
<!ATTLIST variable label CDATA  #IMPLIED>  <!-- optional, default is from name -->
<!ATTLIST variable tooltip CDATA #IMPLIED>  <!-- optional, default is from variable tooltip -->
<!ATTLIST variable layout ( left | above | below | right ) "right" > <!-- label position -->
<!ATTLIST variable format  (default | slider | radiobuttons | checkbox ) "default" >

