xml/DTD/programmer-config.dtd

<!-- Defines XML documenting a CV programmer format -->
<!-- $Id: programmer-config.dtd,v 1.13 2002-01-08 03:52:27 jacobsen Exp $ -->

<!ELEMENT programmer-config (version, programmer)>

<!-- The version section identifies the file information.  Similar -->
<!-- clauses appear in other DTD files; check consistency. -->
<!ELEMENT version EMPTY>
<!ATTLIST version author     	CDATA #IMPLIED>
<!ATTLIST version version     	CDATA #IMPLIED>
<!ATTLIST version lastUpdated   	CDATA #IMPLIED>
<!ATTLIST version comment     	CDATA #IMPLIED>

<!-- The programmer section defines the layout and contents of the  -->
<!-- programmer window(s) -->
<!ELEMENT programmer (pane*)>
<!-- Show additional panes from decoder file? -->
<!ATTLIST programmer decoderFilePanes (yes | no ) "yes">


<!-- The pane sections define each tabbed pane of options -->
<!ELEMENT pane (column | row)*>
<!ATTLIST pane name CDATA #REQUIRED>  <!-- Name used for identification -->
<!-- Which name to show in GUI? Mfg is the name field from the decoder file -->
<!ATTLIST pane nameFmt (mfg | stdName) "mfg">

<!-- The column and row sections describe the layout of a pane -->
<!ELEMENT column ((row | display | label | separator | cvtable | fnmapping | dccaddress )*)>
<!ELEMENT row ((column | display | label | separator | cvtable | fnmapping | dccaddress )*)>

<!-- Insert a separator line -->
<!ELEMENT separator EMPTY>

<!-- Insert a cv table -->
<!ELEMENT cvtable EMPTY>

<!-- Insert a function mapping display/edit panel -->
<!ELEMENT fnmapping EMPTY>

<!-- Insert a variable that handles long & short dcc addresses -->
<!ELEMENT dccaddress EMPTY>

<!-- The label items describes an arbitrary text string -->
<!ELEMENT label EMPTY >
<!ATTLIST label label CDATA #REQUIRED>

<!-- The display items define each identified variables -->
<!-- in the column and how they are displayed -->

<!ELEMENT display EMPTY >
<!ATTLIST display name CDATA #REQUIRED>  <!-- Name used for identification -->
<!ATTLIST display label CDATA  #IMPLIED>  <!-- optional, default is from name -->
<!ATTLIST display tooltip CDATA #IMPLIED>  <!-- optional, default is from variable tooltip -->
<!ATTLIST display layout ( left | above | below | right ) "left" > <!-- label position -->
<!ATTLIST display format  (default | vslider | hslider | radiobuttons | checkbox |
							onradiobutton | offradiobutton) "default" >

