xml/DTD/programmer-config.dtd

<!-- Defines XML documenting a CV programmer format -->

<!ELEMENT programmer:programmer-config (programmer:programmer*)>
<!ATTLIST programmer:programmer-config xmlns:programmer CDATA "">

<!ELEMENT programmer:programmer (programmer:pane*)>


<!-- The pane sections define each tabbed pane of options -->

<!ELEMENT programmer:pane (programmer:column*)>
<!ATTLIST programmer:pane name CDATA #REQUIRED>  <!-- Name used for identification -->

<!-- The column section describes each column in the pane -->

<!ELEMENT programmer:column ((programmer:variable | programmer:label | programmer:separator | programmer:cvtable )*)>

<!-- Insert a separator line -->

<!ELEMENT programmer:separator EMPTY>

<!-- Insert a cv table -->

<!ELEMENT programmer:cvtable EMPTY>

<!-- The label items describes an arbitrary text string -->

<!ELEMENT programmer:label EMPTY >
<!ATTLIST programmer:label label CDATA #REQUIRED>

<!-- The variable items define each identified variables -->
<!-- in the column and how they are displayed -->

<!ELEMENT programmer:variable EMPTY >
<!ATTLIST programmer:variable name CDATA #REQUIRED>  <!-- Name used for identification -->
<!ATTLIST programmer:variable label CDATA  #IMPLIED>  <!-- optional, default is from name -->
<!ATTLIST programmer:variable tooltip CDATA #IMPLIED>  <!-- optional, default is from variable tooltip -->
<!ATTLIST programmer:variable layout ( left | above | below | right ) "left" > <!-- label position -->
<!ATTLIST programmer:variable format  (default | slider | radiobuttons | checkbox ) "default" >

