xml/DTD/roster-config.dtd

<!-- Defines XML documenting a locomotive roster -->
<!-- $Id: roster-config.dtd,v 1.6 2003-05-31 05:15:15 jacobsen Exp $ -->

<!ELEMENT roster-config (roster*)>

<!ELEMENT roster (locomotive*)>


<!-- The locomotive entries each define a specific locomotive -->

<!ELEMENT locomotive (decoder) >

<!-- Key used in lists, etc - User identification for this loco -->
<!ATTLIST locomotive id	CDATA #REQUIRED>          

<!-- The whole point of this is to identify a definition file, based at prefs/roster/ -->
<!ATTLIST locomotive fileName	CDATA #REQUIRED>  
<!ATTLIST locomotive groupName  CDATA #IMPLIED>        

<!-- The identification attributes must be kept the same as the ones in the locomotive DTD -->
<!-- The copy in the locomotive file is used if we have to import an existing file into a roster -->

<!-- Manual identification -->
<!ATTLIST locomotive id			CDATA #REQUIRED>          
<!ATTLIST locomotive roadName	CDATA #IMPLIED>          
<!ATTLIST locomotive roadNumber	CDATA #IMPLIED>          
<!ATTLIST locomotive mfg			CDATA #IMPLIED>
<!ATTLIST locomotive owner			CDATA #IMPLIED>
<!ATTLIST locomotive model		CDATA #IMPLIED>
<!ATTLIST locomotive dccAddress	CDATA #IMPLIED>	<!-- DCC address -->
<!ATTLIST locomotive comment		CDATA #IMPLIED>

<!-- The decoder optional section identifies the installed decoder -->
<!ELEMENT decoder EMPTY >
<!ATTLIST decoder family			CDATA #REQUIRED>
<!ATTLIST decoder model			CDATA #REQUIRED>
<!ATTLIST decoder comment   		CDATA #IMPLIED>
