xml/DTD/rpsroster-2-3-8.dtd

<!-- Defines XML for RPS polling information -->
<!-- $Id: rpsroster-2-3-8.dtd,v 1.1 2008-12-12 16:32:56 jacobsen Exp $ -->

<!-- This DTD is Copyright 2008 Bob Jacobsen.  You may freely use    -->
<!-- it subject to the Open Source Artistic License, a copy of     -->
<!-- which is available in the COPYING file distributed along with -->
<!-- this file or at http://jmri.sf.net/COPYING                    -->
<!-- For more information on the JMRI project, including this DTD, -->
<!-- see http://jmri.sf.net                                        -->

<!-- This DTD is part of version 2.3.8 development.  Do not modify it       -->
<!-- after version 2.3.8 is released.  For more information,                -->
<!-- see http://jmri.sf.net/help/en/html/doc/Technical/XmlPersistance.shtml -->

<!ELEMENT rpsfile (poll, transmitter*)>

<!ELEMENT poll  (#PCDATA)>
<!ATTLIST poll active (true|false) "false" >
<!ATTLIST poll interval CDATA #REQUIRED>

<!ELEMENT transmitter (#PCDATA)>
<!ATTLIST transmitter rostername CDATA #REQUIRED>
<!ATTLIST transmitter id CDATA #REQUIRED>
<!ATTLIST transmitter address CDATA #IMPLIED>
<!ATTLIST transmitter long (true|false) "false" >
<!ATTLIST transmitter poll (true|false) "false" >

