xml/DTD/rpsroster-2-3-8.dtd

<!-- Defines XML for RPS polling information -->
<!-- $Id$ -->

<!-- This DTD is part of JMRI.                                              -->
<!-- Copyright Bob Jacobsen 2008                                            -->
<!--                                                                        -->
<!-- JMRI is free software; you can redistribute it and/or modify it under  -->
<!-- the terms of version 2 of the GNU General Public License as published  -->
<!-- by the Free Software Foundation. See the "COPYING" file for a copy     -->
<!-- of this license.                                                       -->
<!--                                                                        -->
<!-- JMRI is distributed in the hope that it will be useful, but WITHOUT    -->
<!-- ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or  -->
<!-- FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License  -->
<!-- for more details.                                                      -->

<!-- This DTD is part of version 2.3.8 development.  Do not modify it       -->
<!-- after version 2.3.8 is released.  For more information,                -->
<!-- see http://jmri.org/help/en/html/doc/Technical/XmlPersistance.shtml -->

<!ELEMENT rpsfile (poll, transmitter*)>

<!ELEMENT poll  (#PCDATA)>
<!ATTLIST poll active (true|false) "false" >
<!ATTLIST poll interval CDATA #REQUIRED>

<!ELEMENT transmitter (#PCDATA)>
<!ATTLIST transmitter rostername CDATA #REQUIRED>
<!ATTLIST transmitter id CDATA #REQUIRED>
<!ATTLIST transmitter address CDATA #IMPLIED>
<!ATTLIST transmitter long (true|false) "false" >
<!ATTLIST transmitter poll (true|false) "false" >

