xml/DTD/tracktiles.dtd

<!-- Defines XML documenting track tile specifications from various manufacturers -->
<!-- for use in JMRI Layout Editor -->

<!-- This DTD is part of JMRI. Copyright 2025.                              -->
<!--                                                                        -->
<!-- JMRI is free software; you can redistribute it and/or modify it under  -->
<!-- the terms of version 2 of the GNU General Public License as published  -->
<!-- by the Free Software Foundation. See the "COPYING" file for a copy     -->
<!-- of this license.                                                       -->
<!--                                                                        -->
<!-- JMRI is distributed in the hope that it will be useful, but WITHOUT    -->
<!-- ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or  -->
<!-- FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License  -->
<!-- for more details.                                                      -->

<!ELEMENT tracktiles (header, tiles?)>
<!ATTLIST tracktiles version CDATA #IMPLIED>
<!-- Each track tiles configuration file consists of header information -->
<!-- about the manufacturer and track system, followed by individual tile definitions -->

<!-- The header element identifies the track system -->
<!ELEMENT header (vendor, code, family, scale, gauge, copyright?, authorgroup?, revhistory?)>

<!ELEMENT vendor (#PCDATA)>
<!-- Manufacturer name, e.g., "Märklin", "Trix", "Roco" -->

<!ELEMENT code (#PCDATA)>
<!-- Model railroad scale code: 250, 200, 143, 124, 100, 83, 80, 75, 70, 60, 55, 40 -->
<!-- Common codes: 250=G, 200=1, 143=0, 124=TT, 100=HO, 83=S, 80=00, 55=N, 40=Z -->

<!ELEMENT family (#PCDATA)>
<!-- Product family name, e.g., "C-Track", "K-Track", "Geolinegleise" -->

<!ELEMENT scale (name, ratio)>
<!-- Scale specification -->

<!ELEMENT name (#PCDATA)>
<!-- Scale name, e.g., "H0", "N", "Z", "TT", "0" -->

<!ELEMENT ratio (#PCDATA)>
<!-- Scale ratio as 1:n, e.g., "87" for 1:87 (H0) -->

<!ELEMENT gauge (gaugename, gaugesize)>
<!-- Track gauge specification -->

<!ELEMENT gaugename (#PCDATA)>
<!-- Gauge name, e.g., "Standard", "Narrow" -->

<!ELEMENT gaugesize EMPTY>
<!ATTLIST gaugesize value CDATA #REQUIRED>
<!ATTLIST gaugesize unit (mm) #REQUIRED>
<!-- Track gauge in millimeters, e.g., 16.5mm for H0, 9mm for N -->

<!-- DocBook copyright element for licensing info -->
<!ELEMENT copyright (year+, holder)>
<!ATTLIST copyright xmlns CDATA #FIXED "http://docbook.org/ns/docbook">

<!ELEMENT year (#PCDATA)>
<!ELEMENT holder (#PCDATA)>

<!-- DocBook authorgroup element -->
<!ELEMENT authorgroup (author+)>
<!ATTLIST authorgroup xmlns CDATA #FIXED "http://docbook.org/ns/docbook">

<!ELEMENT author (personname, email?)>
<!ELEMENT personname (firstname, surname)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT surname (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!-- DocBook revision history -->
<!ELEMENT revhistory (revision+)>
<!ATTLIST revhistory xmlns CDATA #FIXED "http://docbook.org/ns/docbook">

<!ELEMENT revision (revnumber, date, authorinitials, revremark)>
<!ELEMENT revnumber (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT authorinitials (#PCDATA)>
<!ELEMENT revremark (#PCDATA)>

<!-- The tiles element contains all track tile definitions -->
<!ELEMENT tiles (tile*)>

<!-- Individual tile definition -->
<!ELEMENT tile (partcode, jmritype, l10n+, geometry)>

<!ELEMENT partcode (#PCDATA)>
<!-- Vendor part number/code, e.g., "24077", "24130" -->

<!ELEMENT jmritype (#PCDATA)>
<!-- JMRI track type mapping:
     "straight" - straight track segment
     "curved" - curved track segment
     "bezier" - bezier curved track segment
     "turnout-lh" - left-hand turnout
     "turnout-rh" - right-hand turnout
     "wye" - wye turnout
     "crossing" - single crossing
     "double-crossing" - double crossing/scissor crossing
-->

<!ELEMENT l10n (#PCDATA)>
<!ATTLIST l10n lang CDATA #REQUIRED>
<!-- Localized part name, with ISO 639-1 language code -->
<!-- e.g., lang="de" for German, lang="en" for English -->

<!ELEMENT geometry ((straight, end?) | (curved, end?) | turnout)>
<!-- Geometric specifications for the tile -->
<!-- Straight and curved tracks may optionally include an end element for ending/bumper tiles -->
<!-- Turnouts use path specifications instead -->

<!ELEMENT straight EMPTY>
<!ATTLIST straight length CDATA #REQUIRED>
<!ATTLIST straight unit (mm) #REQUIRED>
<!ATTLIST straight function (none|switch|decoupler|isolated) "none">
<!ATTLIST straight contactType (momentary|permanent|none) #IMPLIED>
<!ATTLIST straight powered (yes|no) "no">
<!-- Straight track with length in millimeters
     function: special electrical function
       - none: standard track (default)
       - switch: momentary contact track (Schaltgleis) for triggering signals/accessories
       - decoupler: automatic uncoupling track (Entkupplungsgleis)
       - isolated: electrically isolated section for block control
     contactType: type of electrical contact (momentary/permanent/none)
     powered: whether track requires external power (yes/no, default no)
-->

<!ELEMENT curved EMPTY>
<!ATTLIST curved radius CDATA #REQUIRED>
<!ATTLIST curved arc CDATA #REQUIRED>
<!ATTLIST curved radiusunit (mm) #REQUIRED>
<!ATTLIST curved arcunit (deg) #REQUIRED>
<!ATTLIST curved function (none|switch|decoupler|isolated) "none">
<!ATTLIST curved contactType (momentary|permanent|none) #IMPLIED>
<!ATTLIST curved powered (yes|no) "no">
<!-- Curved track with radius (mm) and arc angle (degrees)
     function: special electrical function (same values as straight)
     contactType: type of electrical contact (momentary/permanent/none)
     powered: whether track requires external power (yes/no, default no)
-->

<!ELEMENT end EMPTY>
<!ATTLIST end extraLength CDATA #IMPLIED>
<!ATTLIST end unit (mm) #IMPLIED>
<!-- End/bumper tile marker. Optional extraLength specifies additional length beyond the main track section -->

<!ELEMENT turnout (path+)>
<!-- Turnout with multiple paths -->

<!ELEMENT path EMPTY>
<!ATTLIST path direction (leftmost|left|straight|right|rightmost) #REQUIRED>
<!ATTLIST path state (closed|thrown) #REQUIRED>
<!ATTLIST path id CDATA #IMPLIED>
<!ATTLIST path length CDATA #IMPLIED>
<!ATTLIST path lengthunit (mm) #IMPLIED>
<!ATTLIST path radius CDATA #IMPLIED>
<!ATTLIST path radiusunit (mm) #IMPLIED>
<!ATTLIST path arc CDATA #IMPLIED>
<!ATTLIST path arcunit (deg) #IMPLIED>
<!-- Turnout path specification:
     - direction: which route the path takes
     - state: turnout state for this path (closed/thrown)
     - id: optional identifier if multiple addresses needed (default 0)
     - length/lengthunit: for straight paths (mm)
     - radius/radiusunit + arc/arcunit: for curved paths (mm/degrees)
-->
