xml/schema/logixng/digital-actions/digital-actions-4.23.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="../schema2xhtml.xsl" type="text/xsl"?>

<!-- This schema is part of JMRI. Copyright 2018.                           -->
<!--                                                                        -->
<!-- JMRI is free software; you can redistribute it and/or modify it under  -->
<!-- the terms of version 2 of the GNU General Public License as published  -->
<!-- by the Free Software Foundation. See the "COPYING" file for a copy     -->
<!-- of this license.                                                       -->
<!--                                                                        -->
<!-- JMRI is distributed in the hope that it will be useful, but WITHOUT    -->
<!-- ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or  -->
<!-- FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License  -->
<!-- for more details.                                                      -->

<!-- This file contains definitions for LogixNG DigitalActions.             -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:docbook="http://docbook.org/ns/docbook"
           xmlns:jmri="http://jmri.org/xml/schema/JMRIschema"
           xsi:schemaLocation="
                http://jmri.org/xml/schema/JMRIschema http://jmri.org/xml/schema/JMRIschema.xsd
                http://docbook.org/ns/docbook http://jmri.org/xml/schema/docbook/docbook.xsd
            "
        >

  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-audio-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-block-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-clock-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-dispatcher-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-entry-exit-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-light-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-light-intensity-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-listen-on-beans-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-listen-on-beans-table-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-local-variable-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-loconet-clear-slots-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-loconet-update-slots-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-memory-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-oblock-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-power-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-reporter-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-script-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-sensor-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-signalhead-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-signalmast-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-sound-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-timer-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-turnout-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/action-warrant-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/digital-call-module-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/display-action-positionable-4.23.4.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/do-analog-action-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/do-string-action-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/enable-logix-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/executedelayed-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/for-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/formula-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/if-then-else-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/logix-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/log-data-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/log-local-variables-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/many-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/sequence-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/show-dialog-4.25.7.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/shutdown-computer-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/table-for-each-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/timeout-4.25.7.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/throttle-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/trigger-route-4.23.1.xsd"/>
  <xs:include schemaLocation="http://jmri.org/xml/schema/logixng/digital-actions/web-browser-4.23.1.xsd"/>

    <xs:complexType name="LogixNG_DigitalActionManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a DigitalActionManager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.digital.implementation.configurexml.DefaultDigitalActionManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>

        <!-- Permit any of these tags in any order in any number -->
        <xs:choice minOccurs="0" maxOccurs="unbounded">

            <xs:element name="ActionAudio"       type="LogixNG_DigitalAction_ActionAudioType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionBlock"       type="LogixNG_DigitalAction_ActionBlockType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionClock"       type="LogixNG_DigitalAction_ActionClockType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionDispatcher"  type="LogixNG_DigitalAction_ActionDispatcherType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionEntryExit"   type="LogixNG_DigitalAction_ActionEntryExitType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionLight"       type="LogixNG_DigitalAction_ActionLightType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionLightIntensity" type="LogixNG_DigitalAction_ActionLightIntensityType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionListenOnBeans"  type="LogixNG_DigitalAction_ActionListenOnBeansType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionListenOnBeansTable"  type="LogixNG_DigitalAction_ActionListenOnBeansTableType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionLocalVariable"  type="LogixNG_DigitalAction_ActionLocalVariableType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionLoconetClearSlots"  type="LogixNG_DigitalAction_ActionLocoNetClearSlotsType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionLoconetUpdateSlots"  type="LogixNG_DigitalAction_ActionLocoNetUpdateSlotsType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionMemory"      type="LogixNG_DigitalAction_ActionMemoryType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionOBlock"      type="LogixNG_DigitalAction_ActionOBlockType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionPower"       type="LogixNG_DigitalAction_ActionPowerType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionReporter"    type="LogixNG_DigitalAction_ActionReporterType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionScript"      type="LogixNG_DigitalAction_ActionScriptType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionSensor"      type="LogixNG_DigitalAction_ActionSensorType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionSignalHead"  type="LogixNG_DigitalAction_ActionSignalHeadType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionSignalMast"  type="LogixNG_DigitalAction_ActionSignalMastType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionSimpleScript"  type="LogixNG_DigitalAction_ActionScriptType" minOccurs="0" maxOccurs="unbounded" /> <!-- Kept temporary. Remove for 4.26 -->
            <xs:element name="ActionSound"       type="LogixNG_DigitalAction_ActionSoundType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionTimer"       type="LogixNG_DigitalAction_ActionTimerType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionTurnout"     type="LogixNG_DigitalAction_ActionTurnoutType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ActionWarrant"     type="LogixNG_DigitalAction_ActionWarrantType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="CallModule"        type="LogixNG_DigitalAction_CallModuleType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="DigitalFormula"    type="LogixNG_DigitalAction_FormulaType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="DisplayActionPositionable"  type="LogixNG_DigitalAction_DisplayActionPositionableType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="DoAnalogAction"    type="LogixNG_DigitalAction_DoAnalogActionType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="DoStringAction"    type="LogixNG_DigitalAction_DoStringActionType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="EnableLogix"       type="LogixNG_DigitalAction_EnableLogixType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ExecuteDelayed"    type="LogixNG_DigitalAction_ExecuteDelayedType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="For"               type="LogixNG_DigitalAction_ForType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="IfThenElse"        type="LogixNG_DigitalAction_IfThenElseType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Logix"             type="LogixNG_DigitalAction_LogixType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="LogData"           type="LogixNG_DigitalAction_LogDataType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="LogLocalVariables" type="LogixNG_DigitalAction_LogLocalVariablesType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="DigitalMany"       type="LogixNG_DigitalAction_ManyType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Sequence"          type="LogixNG_DigitalAction_SequenceType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ShowDialog"        type="LogixNG_DigitalAction_ShowDialogType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="ShutdownComputer"  type="LogixNG_DigitalAction_ShutdownComputerType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="TableForEach"      type="LogixNG_DigitalAction_TableForEachType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Throttle"          type="LogixNG_DigitalAction_ThrottleType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="Timeout"           type="LogixNG_DigitalAction_TimeoutType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="TriggerRoute"      type="LogixNG_DigitalAction_TriggerRouteType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="WebBrowser"        type="LogixNG_DigitalAction_WebBrowserType" minOccurs="0" maxOccurs="unbounded" />

          </xs:choice>
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>

</xs:schema>
